@use "sass:map";

$theme-colors: (
  "orange-crayola": #ff6b35,
  "peach-crayola": #f7c59f,
  "beige": #efefd0,
  "usafa-blue": #004e89,
  "sapphire-blue": #1a659e,
);

$font-size: 1rem;
$font-family: "Helvetica", sans-serif;
$background-color: map-get($theme-colors, "beige");
$font-color: map-get($theme-colors, "usafa-blue");
$page-width: 650px;

/*palette1*/
$charcoal: #264653;
$persian-green: #2a9d8f;
$orange-yellow-crayola: #e9c46a;
$sandy-brown: #f4a261;
$burnt-sienna: #e76f51;
