@use "sass:map";

$theme-colors: (
  "orange-crayola": #ff6b35,
  "peach-crayola": #f7c59f,
  "beige": #efefd0,
  "usafa-blue": #004e89,
  "pale-cerulean": #96c8ee,
);

$font-size: 1rem;
$font-family: "Helvetica", sans-serif;
$background-color: map-get($theme-colors, "beige");
$font-color: map-get($theme-colors, "usafa-blue");
$page-width: 650px;

$post-list-item-color: map-get($theme-colors, "usafa-blue");
$post-list-item-background-color: map-get($theme-colors, "pale-cerulean");
