@use "sass:map";

$theme-colors: (
  "orange-crayola": #ff6b35,
  "peach-crayola": #f7c59f,
  "beige": #efefd0,
  "usafa-blue": #004e89,
  "beau-blue": #cae3f7,
  "uranian-blue": #b8d9f4,
);

$font-size: 1rem;
$font-family: "Helvetica", sans-serif;
$background-color: map-get($theme-colors, "beige");
$font-color: map-get($theme-colors, "usafa-blue");
$page-width: 650px;

$post-list-item-color: map-get($theme-colors, "usafa-blue");
$post-list-item-background-color: map-get($theme-colors, "beau-blue");
$post-list-item-background-color-hover: map-get($theme-colors, "uranian-blue");
